.footer-1 {
  height: 60px;
  padding: 15px 0px 15px 0px;
  background-color: #37475a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-footer {
  background-color: #232f3e;
  color: white;
  padding: 40px 20px 30px 10px;
}

.main-content {
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.random-cont {
  height: 10px;
  width: 10px;
  padding: 0px 5px;
}
@media (min-width: 768px) {
  .random-cont {
    height: 150px;
    width: 250px;
    padding: 0px 30px;
  }
}

.item-link-1,
#about {
  text-decoration: none;
  color: white;
}

.container-3 {
  height: 35px;
  background-color: #232f3e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.container-3 {
  height: auto;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .container-3 {
    padding: 10px 100px;
  }
}

.last-footer {
  background-color: #131a22;
  color: #dddddd;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.dark input,
body.dark textarea {
  background-color: #d4f1f4;
}

body.dark .themed-section {
  color: #6e6e6e;
  opacity: 0.7;
}

body.dark .theme-div {
  background-color: #21b6a8;
}

body.dark #editnotes {
  background-color: #212529;
  color: #b4b4b4;
}

.div1 {
  margin: 0px;
  padding: 0px;
  height: 30vh;
  width: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 5rem;
  color: #059dc0;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.div2 {
  height: 25vh;
  width: 25vw;
  font-size: 20px;
  padding-top: 5px;
}

.div-right {
  margin-left: 15vw;
}

.div-left {
  margin-right: 15vw;
  padding-top: 20px;
}

.icon {
  position: absolute;
  top: 0.9rem;
  right: 1.3rem;
}

body.dark .card-body {
  background-color: #444444;
  color: #b4b4b4;
  border: 1px solid #444444;
}

#Notes-item {
  resize: none;
  overflow: hidden;
  cursor: pointer;
  caret-color: #059dc0;
}
